* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.nav {
  width: 200px;
  min-height: 100vh;
  background-color: #173358;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.nav a {
  color: #f1f1f1;
  text-decoration: none;
  margin: 10px 0;
}

.body {
  margin-left: 220px;
  padding: 20px;
  width: calc(100% - 440px);
}

.profile {
  width: 60%;
  height: 110px;
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
}

.profile img {
  width: 15%;
  border-radius: 50%;
}

.recording {
  margin: 10px 0;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.heading h2 {
  background-color: skyblue;
  padding: 10px 20px;
  border-radius: 10px;
}

.heading button {
  border-color: transparent;
  padding: 0px 10px;
  border-radius: 10px;
}

.record {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.video {
  width: 200px;
  background-color: khaki;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
}

.ban {
  width: 80%;
  height: 50px;
  margin: auto;
  background-color: cadetblue;
  border-radius: 10px;
}

.video p {
  text-align: center;
}

.pagination {
  margin: 10px;
  display: flex;
  align-items: center;
}

.dots {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: black;
  margin: 20px;
}

.arrow {
  margin: 20px;
}

.course-material h2 {
  margin: 20px;
}
.course-material {
  width: 50%;
  margin-left: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.149);
  border-radius: 10px;
}
.courses {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.attend-course {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.attend {
  width: 50%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.149);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 14.5px;
}

.chart-group {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  margin-top: 60px;
}

.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 200px;
}

.chart-bar {
  width: 35px;
  height: 200px;
  background-color: #173358;
  border-radius: 8px;
  margin-bottom: 10px;
}

.c-1 {
  height: 50px;
}
.c-2 {
  height: 100px;
}
.c-3 {
  height: 80px;
}
.c-4 {
  height: 140px;
}
.c-5 {
  height: 200px;
}
.calendar-grade {
  margin-top: 30px;
  display: flex;
}
.calendar-grade img {
  width: 60%;
}

.grade-pay {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.grade {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 50%;
  flex-direction: column;
  position: relative;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.149);
  margin-left: 10px;
  border-radius: 10px;
}

.grade .circle {
  width: 150px;
  height: 150px;
  border: 20px solid black;
  border-radius: 50%;
  border-top-color: transparent;
  transform: rotate(-40deg);
  align-self: center;
}

.label-circle {
  position: absolute;
  top: -100px;
}

.payment {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.149);
  margin-left: 10px;
  border-radius: 10px;
}
